<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emilia Core</title>
    <link rel="shortcut icon" href="/img/icon/favicon.ico"/>
    <script src="https://kit.fontawesome.com/02b2ba4a5f.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/about.css">
</head>
<body class="about_body">
    <header class="about_header">
        <nav class="about_navegador_lista">
            <ul>
                <li><a href="/">| home |</a></li>
                <li></li><a href="/about">ABOUT |</a></li>
                <li></li><a href="/music">MUSIC |</a></li>
                <li></li><a href="/contact">CONTACT |</a></li>
            </ul>            
        </nav>

        <nav class="about_navegador_redes">
            <ul>
                <li><a href="https://www.twiter.com/" target="_blank"><i class="fa-brands fa-twitter" style="color: #0a0a0a;"></i></a></li>
                <li><a href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-facebook" style="color: #0a0a0a;"></i></a></li>
                <li><a href="https://www.spotify.com/" target="_blank"><i class="fa-brands fa-spotify" style="color: #0a0a0a;"></i></a></li>
                <li><a href="https://www.apple.com/" target="_blank"><i class="fa-brands fa-apple" style="color: #0a0a0a;"></i></a></li>
                <li><a href="https://www.amazon.com/" target="_blank"><i class="fa-brands fa-amazon" style="color: #0a0a0a;"></i></a></li>
                <li><a href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-square-instagram" style="color: #0a0a0a;"></i></a></li>
            </ul>      
        </nav>
    </header>

    <section class="about_seccion_info">
        <article class="about_titulo"><h1>ABOUT<br>EMILIA //</h1></article>

        <article class="about_articulos">
            <h3>"Seattle-based pop star makes her<br>indie debut with a hauntingly beautiful album"</h3>
            <p>- John Tirckle, Music Today Post</p>
        </article>

        <article class="about_articulos">
            <h3>"Emilia Cole is one of the<br> scene's breakout stars"</h3>
            <p>- John Tirckle, Music Today Post 10:55</p>
        </article>
    </section>

</body>
</html>