<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emilia Cole</title>
    <link rel="icon"  href="/img/icon/favicon.ico"/>
    <script src="https://kit.fontawesome.com/02b2ba4a5f.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body class="index_body">
    <header>
        <nav class="index_nav_vertical">
            <ul>
                <li><a href="/">HOME</a></li>
                <li><a href="/about">ABOUT</a></li>
                <li><a href="/music">MUSIC</a></li>
                <li><a href="/contact">CONTACT</a></li>
            </ul>
        </nav>

        <nav class="index_nav_horizontal">
            <ul>
                <li><a href="https://www.twiter.com/" target="_blank"><i class="fa-brands fa-twitter" style="color: #0a0a0a;"></i></a></li>
                <li><a href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-facebook" style="color: #0a0a0a;"></i></a></li>
                <li><a href="https://www.spotify.com/" target="_blank"><i class="fa-brands fa-spotify" style="color: #0a0a0a;"></i></a></li>
                <li><a href="https://www.apple.com/" target="_blank"><i class="fa-brands fa-apple" style="color: #0a0a0a;"></i></a></li>
                <li><a href="https://www.amazon.com/" target="_blank"><i class="fa-brands fa-amazon" style="color: #0a0a0a;"></i></a></li>                 <a href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-square-instagram" style="color: #0a0a0a;"></i></a>
            </ul>      
        </nav>
    </header>

    <article class="index_h3_margin"><h3>EMILIA<BR>COLE //</h3></article>

    <article class="index_h1_titulo"><h1>TWIST IN MY REALITY</h1></article>
    
</body>
</html>

