<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emilia Core</title>
    <link rel="shortcut icon" href="/img/icon/favicon.ico"/>
    <script src="https://kit.fontawesome.com/02b2ba4a5f.js" crossorigin="anonymous"></script>
</head>
<body>
    <header id="top">
        <img src="/img/emilia-music-top.jpg" width="100%" alt="background header">
        <nav align="right">
            <ul>
                <a href="/">| HOME |</a>
                <a href="/about">ABOUT |</a>
                <a href="/music">MUSIC |</a>
                <a href="/contact">CONTACT |</a>
            </ul>            
        </nav>

        <nav align="right">
            <ul>
                <a href="https://www.twiter.com/" target="_blank"><i class="fa-brands fa-twitter" style="color: #0a0a0a;"></i></a>
                <a href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-facebook" style="color: #0a0a0a;"></i></a>
                <a href="https://www.spotify.com/" target="_blank"><i class="fa-brands fa-spotify" style="color: #0a0a0a;"></i></a>
                <a href="https://www.apple.com/" target="_blank"><i class="fa-brands fa-apple" style="color: #0a0a0a;"></i></a>
                <a href="https://www.amazon.com/" target="_blank"><i class="fa-brands fa-amazon" style="color: #0a0a0a;"></i></a>
                <a href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-square-instagram" style="color: #0a0a0a;"></i></a>
            </ul>      
        </nav>
    </header>

    <h1>MUSIC //</h1>
    <p>Direct links</p>
    <ul>
        <li><a href="#album">Álbum</a></li>
        <li><a href="#video1">Video: Organic love</a></li>
        <li><a href="#video2">Video: Street Light</a></li>
    </ul>

    <section id="album">
        <h3>ALBUM<br>TWIST IN MY REALITY</h3>
        <img src="/img/emilia-play-list.png" alt="album">
        <ol start="01">
            <li><a href="#video1"><i class="fa-solid fa-play" style="color: #000000;"></i> Organic Love | 02:40</a></li>
            <li><i class="fa-solid fa-play" style="color: #000000;"></i> Twist In My Reality | 02:10</li>
            <li><a href="#video2"><i class="fa-solid fa-play" style="color: #000000;"></i> Street Light | 03:28</a></li>
            <li><i class="fa-solid fa-play" style="color: #000000;"></i> Love Don’t Live Here Anymore (Cover) | 03:49</li>
        </ol>
        <a href="#top">Go Top</a>
    </section>

    <section>
        <h3>VIDEO<br>ORGANIC LOVE</h3>
        <iframe src="https://player.vimeo.com/video/135166028?h=fdb0646ae5" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen id="video1"></iframe>
        <P>Directed by VINCE MALC & EMILIA COLE<br> Edited and Filmed by NICOLAS TROY<br> Produced by NIKI HEART,<br> Wix Films LTD</P>
        <a href="#top">Go Top</a>
    </section>

    <section>
        <h3>VIDEO<br>STREET LIGHT</h3>
        <iframe src="https://player.vimeo.com/video/134861419?h=24e3183108" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen id="video2"></iframe>        <article></article>
        <p>Directed by VINCE MALC & EMILIA COLE<br> Edited and Filmed by NICOLAS TROY<br> Produced by NIKI HEART,<br> Wix Films LTD</p>
        <a href="#top">Go Top</a>
    </section>

</body>
</html>