<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emilia Core</title>
    <link rel="shortcut icon" href="/img/icon/favicon.ico"/>
    <script src="https://kit.fontawesome.com/02b2ba4a5f.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/music.css">
</head>
<body>
    <header class="music_header">
        <nav class="music_navegador_lista">
            <ul>
                <li><a href="/"> home </a></article></li>
                <li><a href="/about"> ABOUT </a></li>
                <li><a href="/music"> MUSIC </a></li>
                <li><a href="/contact"> CONTACT </a></li>
            </ul>            
        </nav>

        <nav class="music_navegador_redes">
            <ul>
                <li><a href="https://www.twiter.com/" target="_blank"><i class="fa-brands fa-twitter" style="color: #0a0a0a;"></i></a></li>
                <li><a href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-facebook" style="color: #0a0a0a;"></i></a></li>
                <li><a href="https://www.spotify.com/" target="_blank"><i class="fa-brands fa-spotify" style="color: #0a0a0a;"></i></a></li>
                <li><a href="https://www.apple.com/" target="_blank"><i class="fa-brands fa-apple" style="color: #0a0a0a;"></i></a></li>
                <li><a href="https://www.amazon.com/" target="_blank"><i class="fa-brands fa-amazon" style="color: #0a0a0a;"></i></a></li>
                <li><a href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-square-instagram" style="color: #0a0a0a;"></i></a></li>
            </ul>      
        </nav>
    </header>

    <article class="music_body_titulo"><h1>music //</h1></article>

    <article class="music_body_margen">
        <p>Direct links</p>
        <ul class="music_margen_links">
            <li><a href="#album">Álbum</a></li>
            <li><a href="#video1">Video: Organic love</a></li>
            <li><a href="#video2">Video: Street Light</a></li>
        </ul>
    </article>

    <section class="music_body_margen">
        <article><h3>ALBUM<br>TWIST IN MY REALITY</h3></article>
        <img src="/img/emilia-play-list.png" alt="album">
        <ol start="01">
            <li><a href="#video1"><i class="fa-solid fa-play" style="color: #000000;"></i> Organic Love | 02:40</a></li>
            <li><i class="fa-solid fa-play" style="color: #000000;"></i> Twist In My Reality | 02:10</li>
            <li><a href="#video2"><i class="fa-solid fa-play" style="color: #000000;"></i> Street Light | 03:28</a></li>
            <li><i class="fa-solid fa-play" style="color: #000000;"></i> Love Don’t Live Here Anymore (Cover) | 03:49</li>
        </ol>
        <article><a href="#top" style="color: gray;">Go Top</a></article>
    </section>

    <section class="music_body_margen">
        <article><h3>VIDEO<br>ORGANIC LOVE</h3></article>
        <iframe src="https://player.vimeo.com/video/135166028?h=fdb0646ae5" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen id="video1"></iframe>
        <p>Directed by VINCE MALC & EMILIA COLE<br> Edited and Filmed by NICOLAS TROY<br> Produced by NIKI HEART,<br> Wix Films LTD</p>
        <article><a href="#top" style="color: gray;">Go Top</a></article>
    </section>

    <section class="music_body_margen">
        <article><h3>VIDEO<br>STREET LIGHT</h3></article>
        <iframe src="https://player.vimeo.com/video/134861419?h=24e3183108" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen id="video2"></iframe>        <article></article>
        <p>Directed by VINCE MALC & EMILIA COLE<br> Edited and Filmed by NICOLAS TROY<br> Produced by NIKI HEART,<br> Wix Films LTD</p>
        <article><a href="#top" style="color: gray;">Go Top</a></article>
    </section>

</body>
</html> 